<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>BA101G3</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

   <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/TestDBG3</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!-- 地圖controller -->
	<servlet>
		<servlet-name>Map_MechanismServlet</servlet-name>
		<servlet-class>com.map.controller.Map_MechanismServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Map_MechanismServlet</servlet-name>
		<url-pattern>/map/map_mechanism.do</url-pattern>
	</servlet-mapping>
	<!-- 地圖controller -->
	
	<!-- 地圖圖片reader -->
	<servlet>
		<servlet-name>Map_MechanismReader</servlet-name>
		<servlet-class>utility.Map_MechanismReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Map_MechanismReader</servlet-name>
		<url-pattern>/utility/map_mechanismreader</url-pattern>
	</servlet-mapping>
	<!-- 地圖圖片reader -->
	
	<!-- 成長日誌controller -->
	<servlet>
		<servlet-name>Growing_DiaryServlet</servlet-name>
		<servlet-class>com.diary.controller.Growing_DiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Growing_DiaryServlet</servlet-name>
		<url-pattern>/diary/growing_diary.do</url-pattern>
	</servlet-mapping>
	<!-- 成長日誌controller -->
	
	<!-- CKfinder -->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/utility/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
	<!-- CKfinder -->
	

</web-app>
